<h1><%= @board.name %></h1>
<h4>Name: <%= @list.name %></h4>
<br />
<%= link_to 'Edit List', edit_board_list_path([@board, @list]) %>
<%= link_to 'Delete List', [@board, @list], method: :delete %>
<%= link_to 'Back To Lists', board_lists_path(@board) %>
